/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ^DONT DELETE THIS STUFF^ */

a{
	color:black;
}
.navlink{
	color:#FFFFFF;
	font-size: 30px;
	text-decoration: none;
	padding-top: 22px;
	display:inline-block;
	padding-left:30px;
	font-family: 'Inconsolata';
	padding-right:10px;
/*	padding-bottom:100px;*/
}
.navprofile{
	font-size: 10px;
}

.navlink input{
	height: 20px;
background: #FFFFFF;
border-radius: 10px;
margin-left: 0px;
padding: 0px;
width:175px;
border-color:#FFFFFF;
}

form.navlink{
	padding-left:0px;
	padding-top:34px;

}
.login{
display: inline-block;
/*	float:right;
	padding-right: 50px;*/
}
/*.login .navlink*//*{
	padding-top: 40px;
}*/



nav{
	background: #333333;
	position: fixed;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	z-index:1;
	/*margin-bottom: 100px;*/
}

body{

	background: #FFFFFF;
	margin-left: 8px;


}
.container{
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	width:1170px;

}

.editors-choice img{
	margin-top: 120px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	width: 100%;
	height:300px;
	/*border-radius:10px;*/

}

.editors-choice h3 {
	position:absolute;
	width: 98.3157895%;
	top:100px;
	left:0px;
	color: white;
	background-color:#FF6633;
	/*margin-right: 1025px;*/
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 8px;
	font-family: 'Coming Soon', cursive;

}
.editors-choice{
	width:475px;
	position:relative;
}
.editors-choice a.play-now{

	position:absolute;
	width: 27%;
	bottom:90px;
	right:0px;
	color:#333333;
	background-color:#FFFFFF;
	/*margin-right: 1025px;*/
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 20px;
	opacity:0.85;
	text-align: right;
	text-decoration:none;
	font-size:20px;
	font-family: 'Coming Soon', cursive;
}

.loginform input{
	border-radius:10px;
	font-size: 25px;
	width: 200px;
	height: 50px;
}

.editors-choice-caption{
background-color:#FFCC66;
color:#FFFFFF;
padding-left: 15px;
padding-top: 15px;
padding-bottom: 15px;
/*border-radius:10px;*/
font-family: 'Coming Soon', cursive;


}

.login-page-body{
	margin-left:auto;
	margin-right:auto;
	width:200px;
	text-align:center;
}

.login-background{
	background-color:#66CCFF;
	padding-top: 120px;
}
.home-button .navlink{
	font-size:50px;
}
#editors-choice-carousel{
	width:475px;
	height:250px;

}


























@media (max-width: 1044px) {
  .navlink {
    font-size: 29px;
  }
}
@media (max-width: 1014px) {
  .navlink {
    font-size: 28px;
  }
}
@media (max-width: 1084px) {
  .navlink {
    font-size: 27px;
  }
}
@media (max-width: 1054px) {
  .navlink {
    font-size: 26px;
  }
}
@media (max-width: 1225px) {
  .navlink {
    font-size: 25px;
  }
}
@media (max-width: 1094px) {
  .navlink {
    font-size: 24px;
  }
}

@media (max-width: 1074px) {
  .navlink {
    font-size: 20px;
  }
}

@media (max-width: 970px) {
  .navlink {
  	display:none;
  }
}



