<nav>
<a href="" class="navlink"> SUGGESTIONS</a>
<a href="" class="navlink"> TUTORIALS</a>
<a href="" class="search navlink"> 	  <i class="fa fa-search"> </i> 	</a>
<form action="" class="navlink">
<input name="search" placeholder=" search">
</form>
<a href="" class="navlink"> ABOUT US</a>
<a href="" class="navlink"> LOGIN</a>
<a href="" class="navlink"> SIGN UP</a>

</nav>


<div class="editors-choice">
  <img src="<%= @game.pic%>">
  <h3>Editor's Choice</h3>
</div>
<h4><%= @game.caption%></h4>
<a href="">Play Now</a>


<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
