<nav>
<a href="" class="navlink"> SUGGESTIONS</a>
<a href="" class="navlink"> TUTORIALS</a>
</nav>


<div class="editors-choice">
  <img src="<%= @game.pic%>">
  <h3>Editor's Choice</h3>
</div>
<h4><%= @game.caption%></h4>
<a href="">Play Now</a>
