<nav>
<a href="" class="navlink"> SUGGESTIONS</a>
<a href="" class="navlink"> TUTORIALS</a>
<a href="" class="navlink"> ABOUT US</a>

<a href="" class="search navlink">
 	  <i class="fa fa-search"> </i> 	</a>

<form action="" class="navlink">
<input name="search" placeholder="CAN'T FIND YOUR FAV GAME? ">

</form>

<div class="login">
  <a href="/login" class="navlink"> LOGIN</a>
  <a href="" class="navlink"> SIGN UP</a>
</div>

</nav>




<div class="editors-choice">
  <img src="<%= @game.pic%>">
  <h3>Editor's Choice</h3>
  <a href="<%= @game.link%>" class="play-now">Play it NOW!</a>
</div>
<h4><%= @game.caption%></h4>

<!-- <i class="fa fa-spinner fa-pulse"></i> -->

<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<p>©2016</p>
