<nav>
<a href="" > Suggestions</a>
<a href="" > Tutorials</a>
</nav>
<img src="https://camo.githubusercontent.com/a1fc1d1fb1abe404f8ed70babe4a64765a13247c/687474703a2f2f6d64312e6c6962652e636f6d2f70686f746f2f3736363636302d616761722d696f2e6a70673f6d6f6469666965645f61743d313433303932343130382677696474683d373530">