

  <div class="container">



    <div id="editors-choice-carousel" class="owl-carousel">

<%Game.all.each do |game|%>
    <div class="editors-choice">
      <img src="<%= game.pic%>">
      <h3>Editor's Choice</h3>
      <a href="<%= game.link%>" class="play-now" target="_blank">Play it NOW!</a>
      <h4 class="editors-choice-caption"><%= game.caption%></h4>
    </div>
    <% end -%>
      <!-- <div>  </div>
      <div>  </div>
      <div>  </div>
      <div>  </div>
      <div>  </div>
      <div>  </div> -->

    </div>
    <script type="text/javascript">$(document).ready(function() {

      $("#editors-choice-carousel").owlCarousel({
        autoPlay: true,
        singleItem: true,
        stopOnHover: true,


      });

    });</script>


    <!-- <i class="fa fa-spinner fa-pulse"></i> -->

    <br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>©2016</p>



  </div>

