<nav>
  <a href="" class="navlink"> SUGGESTIONS</a>
  <a href="" class="navlink"> TUTORIALS</a>
  <a href="" class="navlink"> ABOUT US</a>

  <a href="" class="search navlink">
    <i class="fa fa-search"> </i>   </a>

    <form action="" class="navlink">
      <input name="search" placeholder="CAN'T FIND YOUR FAV GAME? ">

    </form>

    <div class="login">
      <a href="/login" class="navlink"> LOGIN</a>
      <a href="" class="navlink"> SIGN UP</a>
    </div>

  </nav>


<div class="login-background">
  <div class="container">
    <div class="login-page-body">
      <h1>Login</h1>

      <form action="" class="loginform">
        <input name="username" placeholder="   →Username←">
        <br>
        <input name="password" placeholder="   →Password←">

      </form>
    </div>
  </div>
</div>
